/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.10.01., 17:18:40
    Author     : tillitomi
*/
body {
    background-color: lightblue;
    color:aqua;
}

h1{
    
    color:aquamarine;
    
}